*{
  margin: 0px;
  padding: 0px;
}
body{
margin: 50px 40px 0px 40px;
}
header{
font-size: 25px;
font-weight: bold;
display: flex;
flex-flow: row wrap;
justify-content: center;
color: #0ca789;
}
section{
  display: flex;
  justify-items: center;
  justify-content: center;
}
.logo{
  width: 50%;
}
nav{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-flow: row wrap;
  gap: 40px;
}

.btn{
  width: 600px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #0ca789;
  background: #0ca789;
  font-size: 25px;
  color: white;
  font-weight: bold;
}

footer{
	clear: both;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
  padding: 40px 0px;
}


.btnre{
  background:#f24726;
  color:#fff;
}

.btnre:hover{
  background:#fff;
  color:#f24726;
}

button:before,button:after{
  content:'';
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #0ca789;
  transition:400ms ease all;
}
button:hover{
  background:#fff;
  color:#0ca789;
}
button{
  border-radius: 10px;
  border:none;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
}