<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
  <!-- Título centrado en la parte superior -->
  <header>
    <h1 class="titulo">FILIACIÓN DE PACIENTE</h1>
    <br>
  <!-- Contenedor de la imagen -->
  </header>
  <section>
    
    <img class="logo" src="assets/fonfoclaro.png " alt="Logo">
    
  </section>
  
  

  <!-- Contenedor de los botones -->
  <nav>
    <button class="btn" (click)="CrearHistoriaClinica()">
      CREAR FILIACIÓN DE PACIENTE
    </button>

    <button class="btn" (click)="BuscarHistoriaClinica()">
      BUSCAR FILIACIÓN DE PACIENTE
    </button>
  </nav>
  <br>
  <footer>
    <button class="btnre" (click)="Regresar()">
      REGRESAR
    </button>
  </footer>
</body>