<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Leche Autóloga</title>
</head>
<body>
    <header>
        <h1>Registro de leche autóloga</h1>
    </header>
    <section>
        <article class="tabla1">
          <table>
            <tr>
              <td class="ta">Buscar N° de DNI de la madre: </td>
              <td class="ta"><input type="text" maxlength="8"
                pattern="^\d{8}$"
                inputmode="numeric"
                oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0,8)"
                required name="cunaDNI" [(ngModel)]="busqueda" placeholder="Ingresar (DNI)" ></td>
              <td class="ta">
                <button class="btnbus" (click)="buscar()">Buscar</button><br><br>
                <button class="btnlim" (click)="limpiar()">Limpiar</button>
              </td>
            </tr>
          </table>
          <div *ngIf="madreEncontrada" class="info-madre-card">
            <p><strong>Madre:</strong> {{madreEncontrada.nombreMadre}} {{madreEncontrada.apellidoPaternoMadre}} {{madreEncontrada.apellidoMaternoMadre}}</p>
            <p><strong>DNI:</strong> {{madreEncontrada.idMadre}}</p>
            <p><strong>Estado:</strong> 
              <span [ngClass]="madreValidaParaDonar ? 'estado-apta' : 'estado-no-apta'">
                {{ madreValidaParaDonar ? 'APTA PARA DONAR' : 'NO APTA PARA DONAR' }}
              </span>
            </p>
          </div>
          
        </article>
      
        <article class="tabla2" style="justify-items: center;">
          <h3>Nuevo Registro</h3>
        
          <div style="display: flex; align-items: center; gap: 1rem; justify-content: center;">
            <table>
              <tr>
                <th>CANTIDAD (ml)</th>
                <th>N° DE CUNA</th>
              </tr>
              <tr>
                <td>
                  <input type="number" [(ngModel)]="nuevoRegistro.cantidad" placeholder="Ingrese cantidad" />
                </td>
                <td>
                  <label>{{madreEncontrada?.paciente?.cuna?.idCuna || '---'}}</label>
                </td>
              </tr>
            </table>
        
            <button class="btngua" (click)="guardar()" 
              [disabled]="!nuevoRegistro.cantidad || !madreValidaParaDonar">
              Guardar
            </button>
          </div>
        </article>
        <br>
        <article class="tabla3" >
          <h3>Historial</h3>
          <div style="display: flex; justify-content: center;">
          <table>
            <tr>
              <th>N°</th>
              <th>CANTIDAD (ml)</th>
              <th>FECHA Y HORA</th>
              <th>N° DE CUNA</th>
            </tr>
            <tr *ngFor="let registro of historial; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ registro.cantidad || '---' }}</td>
              <td>{{ registro.hora | date:'dd/MM/yyyy HH:mm' }}</td>
              <td>{{ registro.cuna || '---' }}</td>
            </tr>
          </table>
        </div>
        </article>
        
    </section>
    <footer>
      <button class="btnre" (click)="regresar()">Regresar</button>
      
    </footer>
</body>
</html>