<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
  
	<header>
		<h1>Area Almacen</h1>
	</header>
	<nav>
		<ul id="menu">
      <button class="btn" (click)="Registropasteurizada()">
        REGISTRO DE LECHE PASTEURIZADA
      </button>
<button class="btn" (click)="RegistroFormula()">
        REGISTRO DE FORMULA
      </button>
      <button class="btn" (click)="Registroautologa()">
        REGISTRO DE LECHE AUTOLOGA
      </button>
      <button class="btn" (click)="lechesdiponibles()">
        LECHES DISPONIBLES
      </button>
		</ul>
	</nav>
  <footer>
    <button class="btnre" (click)="Regresar()" >
      Regresar
    </button>
  </footer>
</body>
</html>