<div class="container">
  <h2>REGISTRAR APODERADO</h2>
  <form>
    <div class="row">
      <div>
        <div class="row">
          <label for="DNI">DNI del apoderado</label>
          <input type="text">
        </div>
        <div class="row">
          <label for="nombreS">Nombres</label>
          <input type="text">
        </div>
        <div class="row">
          <label for="apellidoPaterno">Apellido Paterno</label>
          <input type="text">
        </div>
        <div class="row">
          <label for="apellidoMaterno">Apellido Materno</label>
          <input type="text">
        </div>
        <div class="row">
       
            <label for="apoderado">Parentesco</label>


            <div class="radio-group">
              <input type="radio" id="parentesco" class="form-control" name="menorDeEdad" value="Padre"> Padre
              <input type="radio" id="parentesco" class="form-control" name="menorDeEdad" value="Madre"> Madre
              <input type="radio" id="parentesco" class="form-control" name="menorDeEdad" value="Madre"> Otro
              <input type="text">
         
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button>REGRESAR</button>
          </div>
          <div class="col">
            <button>REGISTRAR</button>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>