<div class="container">
  <!-- Fondo con logo -->
  <div class="background-container"></div>

  
  <!-- Sección principal -->
  <div class="main-container">
    <!-- Encabezado de sección -->
    <mat-card class="section-header">
      <mat-card-title>REGISTRO DE DONANTES</mat-card-title>
    </mat-card>

    <!-- Tabla -->
    <div class="table-scroll-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Columnas -->
        <ng-container matColumnDef="dni">
          <th mat-header-cell *matHeaderCellDef>DNI</th>
          <td mat-cell *matCellDef="let element">{{element.dni}}</td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>NOMBRE COMPLETO</th>
          <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
        </ng-container>

        <ng-container matColumnDef="procura">
          <th mat-header-cell *matHeaderCellDef>PROCURA</th>
          <td mat-cell *matCellDef="let element">
            <button class="btn-procura" [routerLink]='["/registro-procura", element.donadora.idDonadora]'>AGREGAR</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="registro">
          <th mat-header-cell *matHeaderCellDef>REGISTRO DE LECHE</th>
          <td mat-cell *matCellDef="let element">
            <button class= btn-registro  [routerLink]='["/registro-leche-donadora", element.donadora.idDonadora]'
            routerLinkActive="router-link-active">AGREGAR</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
 
 <footer>
    <button class="btnre" [routerLink]='["/menu-areas"]'>Regresar</button>
    <button  class="btnagre" [routerLink]='["/registro-donante"]'>
      Agregar nueva donante
    </button>
  </footer>






























